In [12]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [5]:
d = {"category" : ["Увеличивается сумма покупки", "Не меняется сумма покупки", "Уменьшается сумма покупки"], 'men': [21, 75, 5], 'women': [16, 60, 10]}
df = pd.DataFrame(data=d)

In [10]:
df.dtypes

category    object
men          int64
women        int64
dtype: object

In [6]:
df

                      category  men  women
0  Увеличивается сумма покупки   21     16
1    Не меняется сумма покупки   75     60
2    Уменьшается сумма покупки    5     10

In [18]:
df[["men", "women"]].to_numpy()

array([[21, 16],
       [75, 60],
       [ 5, 10]])

In [17]:
stats.chi2_contingency(df[["men", "women"]].to_numpy())

(2.8239706434502656,
 0.24365906101675808,
 2,
 array([[19.98395722, 17.01604278],
        [72.9144385 , 62.0855615 ],
        [ 8.10160428,  6.89839572]]))

In [19]:
round(0.24365906101675808, 3)

0.244